{% load i18n %}
<ul class="list-group">
    {% for item in basket.items.all %}
    <li class="list-group-item">
        <a class="display_details" href="#"
            onclick="load_window('{{item_url}}/{{item.pk}}/');"><i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
        <span>{{item.full_label}}</span>
        <a class='async-link text-danger float-right'
           data-target='#basket-content'
           href='{{delete_url}}/{{basket.pk}}/{{item.pk}}/'>
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </li>
    {% endfor %}
</ul>
<script type='text/javascript'>
    $("a.async-link").click(manage_async_link);
</script>
