{% extends "base.html" %}
{% load i18n inline_formset table_form %}
{% block extra_head %}
{{form.media}}
{% endblock %}
{% block pre_container %}
<form enctype="multipart/form-data"{% if form.SEARCH_AND_SELECT %}
      class='wizard-form' id="wizard-form"{% endif %}
      action="." method="post"{% if confirm %}
      onsubmit='return confirm("{{confirm}}");'{% endif %}>{% csrf_token %}
{% endblock %}
{% block content %}
<h2>{{page_name}}</h2>
<div class='form{% if not form.SEARCH_AND_SELECT %} container{% endif %}'>
    {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% bs_form form %}
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    {% if form.SEARCH_AND_SELECT %}
    <p class="confirm-message">{% trans "Search and select an item in the table" %}</p>
    {% endif %}
    <div id='validation-bar' class="row text-center">
        <div class="col-sm">
            <button type="submit" id="submit_form" name='validate'
                    value="validate" class="btn btn-success">
               {% if submit_label %}{{submit_label}}{% else%}{% trans "Validate" %}{% endif %}
            </button>
        </div>
    </div>
    {% include 'ishtar/blocks/footer.html' %}
</div>
</form>
{% if open_url %}
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    {% if open_url %}load_window("{{open_url}}");{% endif %}
});
</script>{% endif %}
{% endblock %}

