{% extends "base.html" %}
{% load i18n inline_formset %}

{% block pre_container %}
{% if autorefresh_available %}
<button id="autorefreshpage"
        class="nav-button btn btn-sm btn-secondary disabled"
        data-link="{% url 'current_imports_table' %}"
        data-div="import-container"
        title="{% trans 'Autorefresh the table (useful when waiting for an import result)' %}">
  <i class="fa fa-refresh" aria-hidden="true"></i>
</button>
{% endif %}

<form action="." method="post">{% csrf_token %}
{% endblock %}

{% block content %}
<div id="import-container">
  {% include "ishtar/import_table.html" %}
</div>
{% endblock %}

{% block footer %}
<div id="footer">
  <div id='validation-bar' class="row text-center">
    <div class="col-sm">
      <button type="submit" id="submit_form" name='validate'
              value="validate" class="btn btn-success" onclick="long_wait();return true;">
        {% trans "Validate" %}
      </button>
    </div>
  </div>
  {% include 'ishtar/blocks/footer.html' %}
</div>
</form>
{% endblock %}
