{% extends "base.html" %}
{% load i18n inline_formset %}
{% block content %}
<h2>{% trans "Merge" %}</h2>
<div class='form container'>
<div class='alert alert-warning'>
  <i class="fa fa-exclamation-triangle"
                     aria-hidden="true"></i>
  <label>{%trans "Every operation on this form is irreversible"%}</label>
</div>
<div class="text-center mb-3">
  <div class="btn-group" role="group">
    {% if previous_page %}<a href='{% url current_url 1 %}' class="btn btn-secondary">&Larr;</a><a href='{% url current_url previous_page %}' class="btn btn-secondary">&larr;</a>
    {% else %}<a href="#" class="btn btn-secondary disabled" disabled="disabled">&Larr;</a><a href='#' class="btn btn-secondary disabled" disabled="disabled">&larr;</a>
    {% endif %}
    <span class="btn btn-light disabled">{% trans "Page " %}{{current_page}}/{{max_page}}</span>
    {% if next_page %}<a href='{% url current_url next_page %}' class="btn btn-secondary">&rarr;</a><a href='{% url current_url max_page %}' class="btn btn-secondary">&Rarr;</a>
    {% else %}<a href="#" class="btn btn-secondary disabled" disabled="disabled">&rarr;</a><a href='#' class="btn btn-secondary disabled" disabled="disabled">&Rarr;</a>
    {% endif %}
  </div>
</div>
  <form action="." method="post">{% csrf_token %}
  {{formset.management_form}}
  {% for form in formset %}{% for hidden_field in form.hidden_fields %}{{hidden_field}}{% endfor %}{% endfor %}
  <table id='merge-table' class="table table-striped">
    <thead>
      <tr>
        <th colspan='2'>{% trans "Item A" %}</th>
        <th colspan='2'>{% trans "Item B" %}</th>
        <th class='small'>{% trans "B is a duplicate of A" %}</th>
        <th class='small'>{% trans "A is a duplicate of B" %}</th>
        <th class='small'>{% trans "Is not duplicate" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
{% block merge_field_row %}
{% endblock %}
      {% endfor %}
    <tbody>
</table>
<input type="submit" value="{% trans "Validate" %}"/>
</form>
</div>
{% endblock %}
