{% extends "ishtar/sheet.html" %}
{% load i18n window_field window_header link_to_window %}

{% block head_title %}<strong>{% trans "Document" %}</strong> - {{item.title}}{% endblock %}

{% block content %}
{% block window_nav %}
{% window_nav item window_id 'show-document' 'edit-document' %}
{% endblock %}


{% block general %}

{% if item.images.count %}
<div class="row">
    <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-1 col-sm-10 col-12">
        <div class="card">
            {% include "ishtar/blocks/window_image.html" %}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    {% field_flex "Title" item.title %}
    {% field_flex "Index" item.index %}
    {% field_flex "Source type" item.source_type %}
    {% trans "File" context "Not directory" as file_label %}
    {% field_flex_file file_label item.associated_file %}
    {% field_flex "Format type" item.format_type %}
    {% field_flex "Scale" item.scale %}
    {% trans "Web link" as weblink_label %}
    {% field_flex_url weblink_label item.associated_url %}
    {% if item.item_number != 1 %}{% field_flex "Item number" item.item_number %}{% endif %}
    {% field_flex "Ref." item.reference %}
    {% field_flex "Internal ref." item.internal_reference %}
    {% field_flex "Creation date" item.creation_date %}
    {% field_flex "Receipt date" item.receipt_date %}
    {% field_flex "Receipt date in documentation" item.receipt_date_in_documentation %}
    {% field_flex "Has a duplicate" item.duplicate %}
    {% field_flex "Description" item.description %}
    {% field_flex "Comment" item.comment %}
    {% field_flex "Additional information" item.additional_information %}
    {% field_flex_full "Authors" item.authors|add_links:'person' %}
</div>
<div class="row">
    {% include "ishtar/blocks/sheet_creation_section.html" %}
</div>

{% include "ishtar/blocks/sheet_json.html" %}

{% block related %}
{% if item.has_related %}
<h2>{% trans "Related items" %}</h2>
{% field_flex_full "Files" item.files|add_links %}
{% field_flex_full "Sites" item.sites|add_links %}
{% field_flex_full "Operations" item.operations|add_links %}
{% field_flex_full "Context records" item.context_records|add_links %}
{% field_flex_full "Finds" item.finds|add_links %}
{% field_flex_full "Treatments" item.treatments|add_links %}
{% field_flex_full "Treatment files" item.treatment_files|add_links %}
{% field_flex_full "Warehouses" item.warehouses|add_links %}
{% field_flex_full "Containers" item.containers|add_links %}
{% endif %}

{% endblock %}

{% endblock %}
{% endblock %}
