{% extends "ishtar/sheet.html" %}
{% load i18n window_tables window_header window_ope_tables window_field from_dict %}

{% block head_title %}<strong>{{SITE_LABEL}}</strong> - {{item}}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-site' 'site_modify' 'show-historized-site' 'revert-site' previous next 1 %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-1 col-sm-10 col-12">
      <div class="card">
        {% include "ishtar/blocks/window_image.html" %}
        <div class="card-body">
            <div class="row">
                <div class="col main">
                    {{item.reference}}
                    {{item.name|default:''}}
                </div>
                <div class="col text-muted">
                    {% include "ishtar/blocks/sheet_external_id.html" %}
                </div>
            </div>
            <p class="card-text">
            </p>
        </div>
      </div>
    </div>
</div>

<h3>{% trans "General"%}</h3>

<div class="row">
    {% field_flex "Other reference" item.other_reference %}
    {% field_flex_multiple_obj "Periods" item 'periods' %}
    {% field_flex_multiple_obj "Remains" item 'remains' %}
    {% field_flex_multiple_obj "Cultural attributions" item 'cultural_attributions' %}
    {% field_flex_multiple "Collaborators" item.collaborators %}
    {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
    {% include "ishtar/blocks/sheet_creation_section.html" %}
</div>

{% if item.affmar_number or item.drassm_number or item.oceanographic_service_localisation or item.shipwreck_code or item.sinking_date or item.discovery_area or item.shipwreck_name %}
<h3>{% trans "Underwater"%}</h3>

<div class="row">
    {% field_flex "Numéro AffMar" item.affmar_number %}
    {% field_flex "Numéro DRASSM" item.drassm_number %}
    {% field_flex "Shipwreck name" item.shipwreck_name %}
    {% field_flex "Shipwreck code" item.shipwreck_code %}
    {% field_flex "Sinking date" item.sinking_date %}
    {% field_flex_full "Discovery area" item.discovery_area "<pre>" "</pre>" %}
    {% field_flex_full "Oceanographic service localisation" item.oceanographic_service_localisation "<pre>" "</pre>" %}
</div>
{% endif %}

{% if item.x or item.towns.count or item|m2m_listing:'towns' or item.locality_ngi or item.locality_cadastral %}
<h3>{% trans "Localisation"%}</h3>
<div class="row">
    {% with geo_item=item %}
    {% include "ishtar/blocks/sheet_simple_map.html"%}

    <div class="col-12 col-lg-6 flex-wrap">
    {% include "ishtar/blocks/sheet_coordinates.html"%}
    {% if next %}
    {% field_flex_full "Towns" item|m2m_listing:'towns'|join:" ; "  %}
    {% else %}
    {% field_flex_full "Towns" item.towns_codes|join:" ; "  %}
    {% endif %}
    {% field_flex_full "National Geographic Institute locality" item.locality_ngi "<pre>" "</pre>" %}
    {% field_flex_full "Cadastral locality" item.locality_cadastral "<pre>" "</pre>" %}
    </div>
    {% endwith %}
</div>
{% endif %}

{% include "ishtar/blocks/sheet_json.html" %}

{% trans "Operations" as operations %}
{% if item.operations.count %}
{% dynamic_table_document operations 'operations' 'archaeological_sites' item.pk '' output %}
{% endif %}

{% if item.finds.count %}
{% trans "Finds" as finds %}
{% dynamic_table_document finds 'finds' 'base_finds__context_record__archaeological_site' item.pk '' output %}
{% endif %}

{% trans "Documents" as docs %}
{% if permission_view_own_document or permission_view_document %}
{% if item.documents.count %}
{% dynamic_table_document docs 'documents' 'sites' item.pk '' output %}
{% endif %}
{% endif %}

{% endblock %}
