{% extends "ishtar/sheet.html" %}
{% load i18n window_header window_field %}

{% block head_title %}<strong>{% trans "Administrative act" %}</strong> - {{item.full_ref}}{% endblock %}

{% block toolbar %}
{% if item.operation %}
{% window_nav item window_id 'show-administrativeact' 'operation_administrativeactop_modify' %}
{% endif %}
{% if item.associated_file %}
{% window_nav item window_id 'show-administrativeact' 'file_administrativeactfile_modify' %}
{% endif %}
{% if item.treatment %}
{% window_nav item window_id 'show-administrativeact' 'treatment_administrativeacttreatment_modify' %}
{% endif %}
{% if item.treatment_file %}
{% window_nav item window_id 'show-administrativeact' 'treatmentfile_administrativeacttreatmentfile_modify' %}
{% endif %}
{% endblock %}

{% block content %}

<h3>{% trans "General"%}</h3>
<div class="row">
    {% field_flex "Year" item.year %}
    {% field_flex "Index" item.index %}
    {% field_flex "Internal reference" item.ref_sra %}
    {% field_flex "Type" item.act_type %}
    {% field_flex "Object" item.act_object %}
    {% field_flex_detail "Signatory" item.signatory %}
    {% field_flex "Signature date" item.signature_date %}
    {% field_flex "In charge" item.in_charge %}
    {% field_flex "Archaeological preventive operator" item.operator %}
    {% field_flex_detail "Associated file" item.associated_file %}
    {% field_flex_detail "Operation" item.operation %}
    {% field_flex_detail "Treatment" item.treatment %}
    {% field_flex_detail "Treatment request" item.treatment_file %}

    {% if item.operation and item.operation.surface %}
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
        <dt class="col-5">{% trans "Surface"%}</dt>
        <dd class='col-7'>
            {{ item.operation.surface }} m<sup>2</sup> ({{ item.operation.surface_ha }} ha)
        </dd>
    </div>
    {% endif %}
    {% field_flex_detail "Created by" item.history_creator.ishtaruser.person %}

    {% comment %}{% if item.general_contractor.attached_to %}<p>
    <label>{% trans "General contractor organisation"%}</label>
    <span class='value'>{{ item.general_contractor.attached_to }}</span></p>{% endif %} <!-- Contractor's organisation displayed as concat of Name/Adress/postal_code/city -->
    {% if item.general_contractor %}<p><label>{%trans "General contractor"%}</label> <span class='value'>{{ item.general_contractor.full_label }}</span></p>{% endif %}
    {% endcomment %}
</div>

{% endblock %}
