@page {
  size: a4 portrait;
  margin: 2cm 1cm 2.5cm 1cm;
  background-image: url("images/ishtar-bg.jpg");
  background-repeat: no-repeat;
  @frame footer {
    bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 1cm;
  }
  @frame header {
    top: 1.2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 1.5cm;
  }
  @bottom-center {
      content: counter(page) "/" counter(pages);
  }
}

label{
    display:inline;
    font-weight:bold;
}

table{
    margin:10px;
    width:100%;
    border: none;
    border-collapse:collapse;
}

caption, h3{
    display:block;
    text-align:center;
    font-size:1.5em;
}

a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0.5em;
}

th{
    text-align:center;
    border-bottom:2px solid #922;
}

td{
    margin:0;
    padding:0;
    padding-top:4px;
    text-align: right;
    border:1px solid #EEE;
    border-top:none;
    font-size:0.9em;
    background-color: #ddd;
}

.window-table-head td{
    text-align: left;
    border:0 solid transparent;
    font-size: 1em;
    background-color: transparent;
}

.link{
    display:None;
}

.string{
    text-align:left;
}

.no_items{
    text-align:center;
    font-style:italic;
}

.head{
    display:none;
}

.tool{
    display:none;
}

caption, hr, .tool-left, .tool-right, .display_details, .display_details_inline{
    display: None;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

p{
    margin:0.2em;
}

#pdffooter, #pdfheader{
    text-align:center;
}

#pdfheader{
    font-weight:bold;
    width:100%;
    border-bottom:1px solid #922;
    position: fixed;
    top: -0.5cm;
}

.window-refs{
    text-align:center;
    padding:0;
    margin:0;
    font-size: 0.9em;
    width:100%;
    display:block;
}
