{% load i18n %}
{% if current_menu or menu %}
{% comment %}
<button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbar-shortcut"
        aria-controls="navbar-shortcut" aria-expanded="false"
        aria-label="{% trans 'Toggle navigation' %}">
    <span class="navbar-toggler-icon"></span>
</button>
{% endcomment %}
<div class="navbar-collapse collapse justify-content-between">
    <span id="alert-list">
    </span>
    <ul class="navbar-nav" id="navbar-shortcut">
      <li class="nav-item">
          <ol class="breadcrumb">
                {% for lbl in current_selected_labels %}
                <li class="breadcrumb-item">{{lbl}}</li>
                {% empty %}
                {% trans "No default selection" %}
                {% endfor %}
          </ol>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true"
           id="dropdown-toggle-shortcut-menu">
            <i class="icon fa fa-thumb-tack" aria-hidden="true" title="{% trans 'Pin an item in order to constrain default searches with this item. By default only your items are displayed. New created and modified items are auto-pin.' %}"></i>
        </a>
        <div id="shortcut-menu" class="dropdown-menu dropdown-menu-right">
            <form method="post" action="{% url 'update-current-item' %}">
                <h4>{% trans "Default selection" %}</h4>
                {% block short_content %}
                {% endblock %}
            </form>
        </div>
      </li>
    </ul>
</div>

<script type='text/javascript'>
{% if SHORTCUT_SHOW == 'off' %}var shortcut_menu_hide = true;
{% else %}var shortcut_menu_hide = false;{% endif %}
{% block short_extrajs %}
{% endblock %}
</script>

{% endif %}
