{% load i18n window_field %}{% if PROFILE.mapping %}
{% if geo_item.x or geo_item.y or geo_item.z %}
<dl class="col-12">
    <dt>{% trans "Coordinates" %}</dt>
    <dd>
        {% with coordinates=geo_item.display_coordinates %}
        {% trans "X:"%} {{coordinates.0|default_if_none:"-"}}
        {% if geo_item.estimated_error_x %} ({% trans "error:" %} {{geo_item.estimated_error_x}}){% endif %},
        {% trans "Y:"%} {{coordinates.1|default_if_none:"-"}}
        {% if geo_item.estimated_error_y %} ({% trans "error:" %} {{geo_item.estimated_error_y}}){% endif %},
        {% endwith %}
        {% trans "Z:"%} {{geo_item.z|default_if_none:"-"}}
        {% if geo_item.estimated_error_z %} ({% trans "error:" %} {{geo_item.estimated_error_z}}){% endif %}
        {% with srs=geo_item.display_spatial_reference_system %}
        {% if srs %} &ndash; {{srs.label}} - {% trans "SRID"%} {{srs.srid}} {% endif %}
        {% endwith %}
    </dd>
</dl>
{% if geo_item.most_precise_geo == 'point' %}
{% trans "Point source" as point_source %}
{% field_flex_full point_source geo_item.geo_point_source %}
{% else %}
{% trans "Polygon source" as polygon_source %}
{% field_flex_full polygon_source geo_item.geo_polygon_source %}
{% endif %}
{% endif %}
{% endif %}
