{% load i18n link_to_window %}
{% if item.history_creator.ishtaruser.person %}
<div class="col-12 col-md-6 col-lg-3 flex-wrap">
    <dt>{% trans "Creation" context "Sheet" %}{{item.history_creator.ishtaruser.person|link_to_window:request}}</dt>
    <dd>
        {{item.history_creator.ishtaruser.person}}<br/>
        <small class="text-muted">{{item.history_creation_date|date:"DATETIME_FORMAT"}}</small>
    </dd>
</div>
{% endif %}
{% if not item.last_edition_date or item.history_creation_date != item.last_edition_date %}
<div class="col-12 col-md-6 col-lg-3 flex-wrap">
    <dt>{% trans "Modification" context "Sheet" %}{{item.history_modifier.ishtaruser.person|link_to_window:request}}</dt>
    <dd>
        {{item.history_modifier.ishtaruser.person}}<br/>
        <small class="text-muted">{% firstof item.history_date|date:"DATETIME_FORMAT" item.history.all.0.history_date|date:"DATETIME_FORMAT" %}</small>
    </dd>
</div>
{% endif %}
