{% load i18n window_field %}
{% for json_section, json_fields in item.json_sections %}
<h3>{% if json_section %}{{json_section}}{% else %}{% trans "Data" %}{% endif %}</h3>
{% for label, value in json_fields %}
{% if forloop.first %}<div class='row'>{% endif %}
    {% field_flex label value %}
{% if forloop.last %}</div>{% endif %}
{% empty %}
{% trans "No data" %}
{% endfor %}
{% endfor %}
