{% load i18n %}{% if item %}
<dl class="col-12{% if size == 2 %} col-lg-6{% elif size == 'full' %}{% else %} col-md-6 col-lg-3{% endif %} flex-wrap">
    <dt>{% trans caption %}{{link}}</dt>
    <dd>{{item}}</dd>
</dl>
{% endif %}
