{% load i18n %}{% if link %}
<dl class="col-12 col-md-6 col-lg-3 flex-wrap">
    <dt>{% trans caption %}</dt>
    <dd>
        <a target="_blank" href="{{link|safe}}">{% if link_name %}{{link_name}}{% else %}{{link}}{% endif %}</a>
    </dd>
</dl>
{% endif%}
