{% load i18n %}
<div class="lightgallery-captions">
    {% if item.main_image %}{% with image=item.main_image %}
    <div id="lightgallery-{{window_id}}-caption-0">
        <img src="{{BASE_URL}}{{image.thumbnail.url}}">
        {% include "ishtar/blocks/window_image_detail.html" %}
    </div>
    {% endwith %}{% endif %}
    {% for image in item.images_without_main_image.all %}
    <div id="lightgallery-{{window_id}}-caption-{{forloop.counter}}">
        <img src="{{BASE_URL}}{{image.thumbnail.url}}">
        {% include "ishtar/blocks/window_image_detail.html" %}
    </div>
    {% endfor %}
</div>
