<form action="." method="post">{% csrf_token %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            {% for step in previous_steps %}
            <li class="breadcrumb-item">
                <button class='change_step' name="form_prev_step"
                        value="{{forloop.counter0}}">{{step}}</button>
            </li>
            {% endfor %}
            <li class="breadcrumb-item active">
                <a href='#'>{{current_step_label}}</a>
            </li>
            {% for step in next_steps %}
            <li class="breadcrumb-item">
                <button class='change_step' name="form_prev_step"
                        value="{{forloop.counter|add:previous_step_counter}}">{{step}}</button>
            </li>
            {% endfor %}
        </ol>
    </nav>
</form>
