{% load i18n %}<div class="form-row form-control">
    {% if widget.value and widget.value.url or hidden_value %}
    <span class="col-4">
        <div id="lightgallery-{{widget.name}}">
            <a href="{% if hidden_value %}{{hidden_value}}{% else %}{{ widget.value.url }}{%endif%}">
                <img class="form-thumbnail" src="{% if widget.value.url %}{{ widget.value.url }}{% else %}{{hidden_value}}{%endif%}">
            </a>
        </div>
    </span>
    {% elif hidden_name_value %}
    <span class="col-4">
        {{hidden_name_value}}
    </span>
    {% endif %}
    <span class="col-8">
    {% if widget.value and widget.value.url %}{% if not widget.required %}
        <input type="checkbox" name="{{ widget.checkbox_name }}"
               id="{{ widget.checkbox_id }}" />
        <label for="{{ widget.checkbox_id }}">{% trans "delete" %}</label>
    {% endif %}{% endif %}
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include 'django/forms/widgets/attrs.html' %} />
        <input type="hidden" name="{{ widget.name }}-hidden"
               value="{% if widget.value and widget.value.url %}{{widget.value.url}}{% elif hidden_value %}{{hidden_value}}{% endif %}"/>
        <input type="hidden" name="{{ widget.name }}-hidden-name"
               value="{% if hidden_name_value %}{{hidden_name_value}}{% endif %}"/>
    </span>
</div>
{% if is_initial or widget.value.url %}
<script type="text/javascript">
lightGallery(document.getElementById('lightgallery-{{widget.name}}'));
</script>
{% endif %}
