{% load i18n %}<div class="input-group search-widget">
    <input type="{{ widget.type }}" name="{{ widget.name }}"
           {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} />
    <span class="input-group-append">
        <span class="input-group-text input-link bg-primary text-white"
              title="{% trans 'Search' %}"
              id="submit-search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <button type="button" class="input-group-text input-link" data-toggle="modal"
                data-target="#modal-advanced-search"
                title="{% trans 'Criteria' %}">
            <i class="fa fa-cogs" aria-hidden="true"></i>
        </button>
        <span class="input-group-text input-link disabled"
              id="clear-search-button"
              title="{% trans 'Clear' %}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
        <span class="input-group-text input-sep">
        </span>
        <span class="input-group-text input-link"
              id="pin-search-button"
              data-item-type="{{pin_model}}"
              title="{% trans 'Pin the current search' %}">
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        </span>
        <a class="input-group-text input-link async-link disabled"
           id="save-search-button"
           data-target="#modal-dynamic-form"
           data-modal-open="#modal-dynamic-form"
           title="{% trans 'Bookmark this search' %}"
           href="{% url 'save-search-query' app_name pin_model %}">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </a>
        <span class="input-group-text input-link dropdown-toggle"
              data-toggle="dropdown"
              title="{% trans 'Bookmarks' %}"
              id="load-bookmark">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
        </span>
        <div class="dropdown-menu" id="bookmark-list"></div>
        <a class="input-group-text input-link async-link disabled"
           id="generate-qrcode"
           data-target="#modal-dynamic-form"
           data-modal-open="#modal-dynamic-form"
           title="{% trans 'Generate a QR Code' %}"
           href="{% url 'search-qrcode' %}">
            <i class="fa fa-qrcode" aria-hidden="true"></i>
        </a>

    </span>
</div>

<script type="text/javascript">
var bookmark_url = "{% url 'bookmark-list' app_name pin_model %}";

if (typeof enable_save == "undefined") {
    enable_save = function(){};
}

if (typeof load_bookmark_list == "undefined") {
    load_bookmark_list = function(){};
}

$(document).ready(function(){
    $(".search-widget input").keypress(function(e) {
        var key = e.key;
        if (key === "Enter") {
            $(".search_button").click();
            $(this).focus();
            e.stopPropagation();
            return false;
        } else {
            $("#id_search_vector").addClass('input-progress');
        }
        if (key === "Escape") {
            $("#clear-search-button").click();
            $(this).focus();
        }
    });
    $(".search-widget input").keyup(function(e) {
        enable_save();
    });
    enable_save();
    load_bookmark_list();
});
</script>
