<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">{{section_label|safe}}</a>

    <div class="dropdown-menu">
        {% for label, url, has_children in sections %}
        <a class="dropdown-item{% if has_children%} font-weight-bold{%endif%}" href="{{url}}">
            {{ label|safe }}
        </a>{% endfor %}
    </div>
</li>
