{% load i18n from_dict %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}

{% for hidden in form.hidden_fields %}
{{hidden}}
{% if hidden.errors %}<div class="invalid-feedback">
    {{ hidden.errors }}
</div>{% endif %}
{% endfor %}

{% csrf_token %}
<div class="form-row">
{% for field in form.visible_fields %}
  {% include "blocks/bs_field_snippet.html" %}
{% endfor %}
</div>

