{% load i18n %}
    <div id="main_div-{{field.auto_id}}" class="form-group{% if not field.label %} no-label{% endif %} {% if field.field.widget.attrs.cols or force_large_col %}col-lg-12{% else %}col-lg-6{% endif %}{% if field.errors %} is-invalid{% endif %}{% if field.field.required %} required{% endif %}{% if force_large_col %} full-width{% endif %}"
         data-alt-name="{{field.field.alt_name}}">
        {% if field.label %}{{ field.label_tag }}{% endif %}
        {% if show_field_number or form.show_field_number %}
        {% if field.field.order_number %}<span class="badge badge-pill badge-success field-tip">
            {{field.field.order_number}}
        </span>{% endif %}{% endif %}
        {% if field.help_text %}
        <div class="input-group">
        {% endif %}
        {{field|safe}}
        {% if field.help_text %}
          <span class="input-group-append">
            <a class="input-group-text" data-toggle="collapse"
               href="#{{field.auto_id}}_help"
               aria-expanded="false" aria-controls="{{field.auto_id}}_help">
               <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
          </span>
          {% if field.errors %}<div class="invalid">
           {{ field.errors }}
          </div>{% endif %}
        </div>
        <div class="collapse" id="{{field.auto_id}}_help">
            <div class="card card-body help-text">
                {{field.help_text}}
            </div>
        </div>
        {% endif %}
        {% if field.errors and not field.help_text %}
        <div class="invalid">
          {{ field.errors }}
        </div>{% endif %}
    </div>
