<div class="input-group">
    <input class="area_widget form-control" type="text"{{final_attrs|safe}}>
    <div class="input-group-append">
        <div class="input-group-text">
            {{unit}} (<span id="meter_{{id}}">0</span>&nbsp;m)
        </div>
    </div>
</div>
<script type="text/javascript"><!--//
    function evaluate_{{safe_id}}(){
        value = parseFloat($("#{{id}}").val());
        if(!isNaN(value)){
            value = value/100;
        } else {
            value = 0;
        }
        $("#meter_{{id}}").html(value);
    }
    $("#{{id}}").keyup(evaluate_{{safe_id}});
    $(document).ready(evaluate_{{safe_id}}());
//--></script>
