{% load i18n %}

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" id="tab-grid-{{name}}" data-toggle="tab"
       href="#tab-content-grid-{{name}}" role="tab"
       aria-controls="tab-content-grid-{{name}}" aria-selected="true">
        {% trans "Table" %}
    </a>
  </li>
  {% if gallery %}<li class="nav-item">
      <a class="nav-link" id="tab-gallery-{{name}}" data-toggle="tab"
         href="#tab-content-gallery-{{name}}" role="tab"
         aria-controls="tab-content-gallery-{{name}}" aria-selected="true">
          {% trans "Gallery" %}
      </a>
  </li>{% endif %}
  {% if use_map %}<li class="nav-item">
      <a class="nav-link" id="tab-map-{{name}}" data-toggle="tab"
         href="#tab-content-map-{{name}}" role="tab"
         aria-controls="tab-content-map-{{name}}" aria-selected="true">
          {% trans "Map" %}
      </a>
  </li>{% endif %}
  {% if current_model.STATISTIC_MODALITIES %}
  <li class="nav-item">
    <a class="nav-link" id="tab-stats-{{name}}" data-toggle="tab"
       href="#tab-content-stats-{{name}}" role="tab"
       aria-controls="tab-content-stats-{{name}}" aria-selected="true">
        {% trans "Statistics" %}
    </a>
  </li>{% endif %}
</ul>

<div class="tab-content">
  <div class="tab-pane active"
       id="tab-content-grid-{{name}}" role="tabpanel"
       aria-labelledby="tab-grid-{{name}}">
      {% include "blocks/DataTables-content.html" %}
  </div>
  {% if gallery %}<div class="tab-pane"
       id="tab-content-gallery-{{name}}" role="tabpanel"
       aria-labelledby="tab-gallery-{{name}}">
  </div>{% endif %}
  {% if use_map %}<div class="tab-pane"
       id="tab-content-map-{{name}}" role="tabpanel"
       aria-labelledby="tab-map-{{name}}">
  </div>{% endif %}
  {% if current_model.STATISTIC_MODALITIES %}
  <div class="tab-pane"
       id="tab-content-stats-{{name}}" role="tabpanel"
       aria-labelledby="tab-stats-{{name}}">
       {% include "blocks/DataTables-stats.html" %}
  </div>{% endif %}
</div>
