{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
    {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% bs_form form %}

    {% if confirm %}
    <input type="hidden" name="confirm" value="1"/>
    <h4>{% trans "Modified items" %}</h4>
    <ul>{% for item in items %}
        <li>{{item}}</li>{% endfor %}
    </ul>
    <h4>{% trans "Modification" %}</h4>
    <table>
        {% for field in form %}
        {% if field.value %}
        <tr>
            <th>{{field.label}}{% trans ":" %}&nbsp;</th>
            <td>{% if field.field.rendered_value %}
                {{ field.field.rendered_value }}
                {% else %}
                {{ field.value }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
