{% load i18n inline_formset table_form %}
<div class="modal-dialog modal-sm" id="save-search-div">
    <div class="modal-content">
        <div class="modal-header">
            <h5>{% trans "Bookmark this search" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form enctype="multipart/form-data"
              action="{% url 'save-search-query' app_label model %}"
              method="post"
              id="save-search-form">
            <div class="modal-body form-row-modal">
              {% csrf_token %}

              <div class='form'>

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.non_field_errors}}
                </div>
                {% endif %}

                {% for hidden in form.hidden_fields %}
                {{hidden}}
                {% if hidden.errors %}<div class="invalid-feedback">
                    {{ hidden.errors }}
                </div>{% endif %}
                {% endfor %}

                {% if form.search_query %}
                <div class="form-row">
                    <input type="radio" name="create_or_update" value="create"
                           id="create-choice" checked >
                    &nbsp;<label for="create-choice">{% trans "New" %}</label>
                </div>
                {% else %}
                <input type="hidden" name="create_or_update" value="create">
                {% endif %}
                <div id="new-search-query">
                    <div class="form-row">
                        {% with form.label as field %}
                        {% include "blocks/bs_field_snippet.html" %}
                        {% endwith %}
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <span>
                                {{form.is_alert}}
                                <label for="{{form.is_alert.auto_id}}">{{form.is_alert.label}}</label>
                            </span>
                        </div>
                    </div>
                </div>
                {% if form.search_query %}
                <div class="form-row">
                    <input type="radio" name="create_or_update" value="update"
                           id="update-choice">
                    &nbsp;<label for="update-choice">{% trans "Update" %}</label>
                </div>
                <div id="update-search-query">
                    <div class="form-row">
                        {% with form.search_query as field %}
                        {% include "blocks/bs_field_snippet.html" %}
                        {% endwith %}
                    </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm">
                    <button type="button" id="search-save-submit"
                            name='validate'
                            value="validate" class="btn btn-success">
                        {% trans "Validate" %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type='text/javascript'>

var update_form_display = function(){
    if ($("#update-choice:checked").length){
        $("#new-search-query").hide();
        $("#update-search-query").show();
    } else {
        $("#update-search-query").hide();
        $("#new-search-query").show();
    }
}

var submit_sq_form = function(){
    $.ajax({
        type: "POST",
        url: "{% url 'save-search-query' app_label model %}",
        data: $("#save-search-form").serialize(),
        success: function(data){
            $("#save-search-div").parent().html(data);
        },
        dataType: 'html'
    });
    return false;
}

$(document).ready(function(){
    var q_value = $("#id_search_vector").val();
    if (!q_value) q_value = '*';
    $("#id_query").val(q_value);
    $("#search-save-submit").click(submit_sq_form);
    $("#save-search-form").submit(function(e){
        e.preventDefault();
        submit_sq_form();
        return false;
    });
    $("#create-choice").click(update_form_display);
    $("#update-choice").click(update_form_display);
    update_form_display();
});

</script>


