{% load i18n inline_formset table_form %}
<script type='text/javascript'>

$(document).ready(function(){
    $("#form-result-div").parent().modal("hide");
    {% if context == 'bookmark' %}
    load_bookmark_list();
    {% endif %}
    main_submit_search();
});

</script>
<div class="modal-dialog modal-sm modal-dialog-centered" id="form-result-div">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body form-row">
            {% trans "Changes made successfully." %}
        </div>
    </div>
</div>
