{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
<div class="alert alert-info">
    {% trans "Items of the basket will be attached to the new basket but not the shares." %}
</div>
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
<div class="form-row">
    <div class="form-group col-lg-6 required">
        <label>{% trans "Label" %}</label>
    </div>
    {% with form.label as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endblock %}

