{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}

<h4>{% trans "Quick add context record" %}</h4>

{% for hidden in form.hidden_fields %}{{hidden}}
{% if hidden.errors %}<div class="invalid-feedback">
    {{ hidden.errors }}
</div>{% endif %}
{% endfor %}
{% with force_large_col=True %}{% for field in form %}
<div class="form-row">
    {% include "blocks/bs_field_snippet.html" %}
</div>
{% endfor %}{% endwith %}

<div class="alert alert-info">
    {% trans "To put more information to the context record use the full form on the top menu: \"Context record > Add\"." %}
</div>
{% endblock %}

