{% extends "ishtar/sheet.html" %}
{% load i18n window_ope_tables window_field window_header %}

{% block head_title %}<strong>{% trans "Archaeological file" %}</strong> - {{item.full_internal_ref|default:''}}{% endblock %}

{% block toolbar %}
{% if can_add_operation %}
{% window_file_nav item window_id previous next %}
{% else %}
{% window_nav item window_id 'show-file' 'file_modify' 'show-historized-file' 'revert-file' previous next 1 %}
{% endif %}

{% endblock %}

{% block content %}

<div class="row">
  <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-1 col-sm-10 col-12">
    <div class="card">
      {% include "ishtar/blocks/window_image.html" %}
      <div class="card-body">
        <p class="card-text">
            <p class='window-refs'>{{item.full_internal_ref|default:''}}</p>
            <p class='window-refs'>{{item.internal_reference|default:''}}</p>
            <p class='window-refs'>{{item.name|default:''}}</p>
            {% include "ishtar/blocks/sheet_external_id.html" %}
        </p>
      </div>
    </div>
  </div>
</div>


<h3>{% trans "General"%}</h3>

<div class="row">
    {% field_flex "Reception date" item.reception_date|date:"DATE_FORMAT" %}
    {% include "ishtar/blocks/sheet_creation_section.html" %}

{% comment %}
{% if item.deadline_date and not item.acts %}
    <p><label>{%trans "Deadline"%}</label> <span class='value'>{% item.deadline_date %}</span></p> <!-- calculated deadline for some preventive files , see saisine_type, not displayed if an act as been send -->
{% endif %}
{% endcomment %}

    {% field_flex_detail "In charge" item.in_charge %}
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
    <dt class="col-5">{%trans "State"%}</dt>
    <dd class='col-7'>
      {% if item.is_active %}{%trans "Active file"%}{% else %}{%trans "Closed file"%}{% endif %}
    </dd>
    </div>
    {% if item.closing %}
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
    <dt class="col-5">{%trans "Closing date"%}</dt>
    <dd class='col-7'>
      {{ item.closing.date }} <strong>{%trans "by" %}</strong> {{ item.closing.user.full_label }}
    </dd>
    </div>
    {% endif %}
    {% field_flex "Type" item.file_type %}
    {% field_flex_detail "Related file" item.related_file %}
    {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
</div>

{% include "ishtar/blocks/sheet_json.html" %}

<h3>{% trans "Localisation"%}</h3>
<div class="row">
    {% field_flex_multiple_obj "Towns" item 'towns' %}
    {% field_flex_multiple_obj "Departments" item 'departments' %}
    {% field_flex "Main address" item.address %}
    {% field_flex "Complement" item.address_complement %}
    {% field_flex "Postal code" item.postal_code %}
    {% if item.total_surface %}
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
        <dt class="col-5">{%trans "Surface"%}</dt>
        <dd class='col-7'>
            {{ item.total_surface }} m<sup>2</sup> ({{ item.total_surface_ha }} ha)
        </dd>
    </div>
    {% endif %}
</div>

{% if item.is_preventive %}

<h3>{% trans "Preventive archaeological file"%}</h3>
<div class="row">

    {% if item.total_developed_surface %}
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
        <dt class="col-5">{%trans "Developed surface"%}</dt>
        <dd class='col-7'>
        {{ item.total_developed_surface }} m<sup>2</sup> ({{ item.total_developed_surface_ha }} ha)</span></li>
        </dd>
    </div>
    {% endif %}

    {% field_flex "Saisine type" item.saisine_type %}

    {% field_flex_detail "Responsible for planning service" item.responsible_town_planning_service %}
    {% field_flex "Responsible for planning service address" item.responsible_town_planning_service.full_address %}
    {% if item.town_planning_service %}
      {% field_flex "Planning service organization" item.town_planning_service.full_address %}
    {% else %}
      {% field_flex "Planning service organization" item.responsible_town_planning_service.attached_to.full_address %}
    {% endif %}

    {% field_flex "Permit type" item.permit_type %}
    {% field_flex "Permit reference" item.permit_reference %}

    {% field_flex "General contractor" item.general_contractor.full_address %}
    {% if item.corporation_general_contractor %}
      {% field_flex "General contractor organization" item.corporation_general_contractor.full_address %}
    {% else%}
      {% field_flex "General contractor organization" item.general_contractor.attached_to.full_address %}
    {% endif %}

</div>
{% else %}

<h3>{% trans "Research archaeology"%}</h3>
<div class="row">
    {% field_flex_detail "Head scientist" item.scientist %}
    {% field_flex "Requested operation type" item.requested_operation_type %}
    {% field_flex_detail "Organization" item.organization %}

    {% if item.cira_advised != None %}
    {% field_flex "Passage en CIRA" item.cira_advised|yesno %}
    {% endif %}

    {% if item.mh_register != None %}
    {% field_flex "Sur Monument Historique classé" item.mh_register|yesno %}
    {% endif %}

    {% if item.mh_listing != None %}
    {% field_flex "Sur Monument Historique inscrit" item.mh_listing|yesno %}
    {% endif %}

    {% if item.classified_area  != None %}
    {% field_flex "Classified area" item.classified_area|yesno %}
    {% endif %}

    {% if item.protected_area  != None %}
    {% field_flex "Protected area" item.protected_area|yesno %}
    {% endif %}

    {% field_flex_full "Comment" item.research_comment "<pre>" "</pre>" %}
</div>

{% endif %}

{% if not next %}

{% trans "Associated parcels" as parcels_label %}
{% include "ishtar/blocks/window_tables/parcels.html" %}

{% trans "Administrative acts" as administrativeacts_label %}
{% table_administrativact administrativeacts_label item.administrative_act.all %}

<h3>{%trans "Associated operations"%}</h3>
<table class="table table-striped">
  <tr>
    <th>{% trans "Ref." %}</th>
    <th>Code Patriarche</th>
    <th>{% trans "Type" %}</th>
    <th>{% trans "In charge" %}</th>
    <th>{% trans "Start date" %}</th>
    <th>{% trans "Excavation end date" %}</th>
    <th class='link'>&nbsp;</th>
  </tr>
  {% for operation in item.operations.all %}
  <tr>
    <td>{{operation.year_index}}</td>
    <td>{{operation.full_code_patriarche|default:""}}</td>
    <td class='string'>{{operation.operation_type}}</td>
    <td class='string'>{{operation.in_charge|default:""}}</td>
    <td>{{operation.start_date|default:""}}</td>
    <td>{{operation.excavation_end_date|default:""}}</td>
    <td class='link'><a href="#" class='display_details'
                        onclick='load_window("{% url "show-operation" operation.pk "" %}")'><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
  </tr>
  {% empty %}
  <tr><td colspan="8" class='no_items'>{% trans "No operation associated to this archaeological file" %}</td></tr>
  {% endfor %}
</table>

<h3>{%trans "Admninistrative acts linked to associated operations"%}</h3>
<table class="table table-striped">
  <tr>
    <th>{% trans "Year" %}</th>
    <th>{% trans "Ref." %}</th>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Date" %}</th>
  </tr>
  {% for act in item.operation_acts %}
  <tr>
    <td>{{act.signature_date.year}}</td>
    <td>{{act.ref_sra}}</td>
    <td class='string'>{{act.act_type}}</td>
    <td>{{act.signature_date}}</td>
  </tr>
  {% empty %}
  <tr><td colspan="4" class='no_items'>{% trans "No administrative act linked to operations" %}</td></tr>
  {% endfor %}
</table>

{% endif %}
{% endblock %}
