<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">OA</div>
    </div>
    <input class="form-control widget-oa" type="text"{{final_attrs|safe}}>
</div>