{% extends "ishtar/wizard/default_wizard.html" %}
{% load i18n %}
{% block form_head %}
{% if not wizard.form.fields %}
<p class="alert">
    <i class="fa fa-exclamation-triangle"></i>
    {% trans "No division set for this warehouse. Define at least one division to localise containers in this warehouse." %}<br/>
    {{wizard.form.warehouse}}
    <a href="{% url 'warehouse_modify' wizard.form.warehouse.pk  %}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</p>
{% endif %}
{% endblock %}
