{% extends "ishtar/wizard/default_wizard.html" %}
{% load i18n %}
{% block form_head %}
{% if wizard.form.readonly %}
<p class="alert">
    <i class="fa fa-exclamation-triangle"></i>
    {% trans "Containers with localisation are associated to this warehouse. You cannot change divisions." %}<br/>
</p>
{% endif %}
{% endblock %}
