{% extends "ishtar/sheet.html" %}
{% load i18n window_header window_field window_tables %}

{% block head_title %}<strong>{% trans "Container" %}</strong> - {{ item.reference|default:"" }} ({{ item.container_type|default:"" }}){% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-container' 'container_modify' '' '' previous next 1 %}
{% endblock %}

{% block content %}
<div class="clearfix">
    {% if item.main_image %}
    <div class="card float-left col-12 col-md-4">
        {% include "ishtar/blocks/window_image.html" %}
    </div>
    {% endif %}
    {% if item.main_image %}
    <div class="float-left col-12 col-md-6 col-lg-8 text-center">{# </div>> #}
    {% else %}
    <div class="float-left col-6 col-md-3 text-center">
    {% endif %}
        <p class="window-refs">{{ item.reference|default:"" }}</p>
        <p class="window-refs">{{ item.container_type|default:"" }}</p>
        <p class="window-refs">{{ item.responsible.name }} - {{ item.index }}</p>
        <p class="window-refs">{{ item.old_reference|default:"" }}</p>
        {% include "ishtar/blocks/sheet_external_id.html" %}
    </div>
    {% if item.main_image %}
    <div class="row float-left col-12 col-md-6 col-lg-8 text-center">{# </div>> #}
    {% else %}
    <div class="float-left row col-6 col-md-8">
    {% endif %}
        {% field_flex_detail "Responsible warehouse" item.responsible %}
        {% field_flex_detail "Location (warehouse)" item.location %}
        {% include "ishtar/blocks/sheet_creation_section.html" %}
        {% field_flex "Location" item.precise_location %}
        {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
        {% include "ishtar/blocks/sheet_json.html" %}
    </div>
</div>

{% if item.point_2d or item.multi_polygon %}
<h3>{% trans "Localisation"%}</h3>
<div class='row'>
    {% with geo_item=item %}
    {% if PROFILE.locate_warehouses %}{% include "ishtar/blocks/sheet_simple_map.html"%}{% endif %}
    <div class="col-12 col-lg-6 flex-wrap">
        {% if PROFILE.locate_warehouses %}{% include "ishtar/blocks/sheet_coordinates.html"%}{% endif %}
    </div>
    {% endwith %}
</div>
{% endif %}


{% if item.finds.count %}
<h4>{% trans "Content" %}</h4>
{% dynamic_table_document finds 'finds' 'container' item.pk 'TABLE_COLS' output 'large' %}
{% endif %}

{% if item.finds_ref.count %}
<h4>{% trans "Reference content" %}</h4>
{% dynamic_table_document finds 'finds' 'container_ref' item.pk 'TABLE_COLS' output 'large' %}
{% endif %}

{% endblock %}
