{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='info'>
{% if account %}

<p>{% trans "Account successfully activated" %}</p>

<p><a href="{% url auth_login %}">{% trans "Log in" %}</a></p>

{% else %}

<p>{% trans "Account activation failed" %}</p>

{% endif %}
</div>
{% endblock %}
