{% extends "admin/change_list.html" %}{% load i18n %}

{% block content_title %}
    <h1>{% trans "Profile type Summary" %}</h1>
{% endblock %}

{% block result_list %}

<div class="results">
    <table>
    {% for group in groups %}
    {% if forloop.counter0|divisibleby:10 %}
      <tr>
        <td>
        </td>
        {% for profile_type in profile_types %}
        <th>
          <div class="text">
            <a href="/admin/ishtar_common/profiletype/{{profile_type.pk}}/change/">
                {{ profile_type.name }}
            </a>
          </div>
        </th>
        {% endfor %}
      </tr>
    {% endif %}

      <tr class="{% cycle 'row1' 'row2' %}">
          {% for col in group %}
          {% if forloop.first %}<th><div class="text">{% else %}<td>{% endif%}
            {{col}}
          {% if forloop.first %}</div></th>{% else %}</td>{% endif%}
          {% endfor %}
      </tr>
    {% endfor %}
    </table>
</div>


{% endblock %}

{% block pagination %}{% endblock %}