{% load i18n compress %}<!doctype html>
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{STATIC_URL}}/media/images/favicon.png"/>
    <title>{% block title %}Ishtar{% if APP_NAME %} - {{APP_NAME}}{%endif%}{% endblock %}</title>
    {% compress js %}
    <script language="javascript" type="text/javascript">
        var url_path = "{{URL_PATH}}";
    </script>
    <script language="javascript" type="text/javascript" src="{{JQUERY_URL}}?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}popper.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{JQUERY_UI_URL}}jquery-ui.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}bootstrap/bootstrap.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/chosen/chosen.jquery.min.js?ver={{VERSION}}"></script>
    {# <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/prettyPhoto/js/jquery.prettyPhoto.js?ver={{VERSION}}"></script> #}
    <script language="javascript" type="text/javascript"
            src="{{STATIC_URL}}ol/ol.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript"
            src="{{STATIC_URL}}datatables/datatables.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}datatables/dataTables.bootstrap4.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}datatables/dataTables.buttons.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}datatables/ellipsis.js?ver={{VERSION}}"></script>
    <script src="{{STATIC_URL}}lightgallery/js/lightgallery.min.js?ver={{VERSION}}"></script>
    <!-- lightgallery plugins -->
    <script src="{{STATIC_URL}}lightgallery/js/lg-zoom.min.js?ver={{VERSION}}"></script>
    <script src="{{STATIC_URL}}lightgallery/js/lg-fullscreen.min.js?ver={{VERSION}}"></script>
    <script src="{{STATIC_URL}}lightgallery/js/lg-thumbnail.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript"
            src="{{STATIC_URL}}js/ishtar-map.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/ishtar.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript"
            src="{{STATIC_URL}}datatables/i18n/{{LANGUAGE_CODE}}.js?ver={{VERSION}}"></script>
    <!-- jqplot -->
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/jquery.jqplot.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.canvasTextRenderer.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.highlighter.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.barRenderer.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.pieRenderer.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.dateAxisRenderer.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.cursor.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jquery-resizable.js?ver={{VERSION}}"></script>
    {{EXTRA_JS|safe}}
    <script type='text/javascript'>
    var current_language = "{{LANGUAGE_CODE}}";
    var static_path = "{{STATIC_URL}}";
    var limit_map_nb = {{ISHTAR_MAP_MAX_ITEMS}};
    var shortcut_url = '{% url "shortcut-menu" %}';
    {% if DISPLAY_PIN_MENU %}var show_shortcut_menu = true;{% endif %}
    var alert_url = '{% url "alert-list" %}';
    var get_file_url = '{% url "get-file-shortcut" %}';
    var pin_search_url = '{% url "pin-search" "item" %}';
    var get_operation_url = '{% url "get-operation-shortcut" %}';
    var get_contextrecord_url = '{% url "get-contextrecord-shortcut" %}';
    var get_find_url = '{% url "get-find-shortcut" %}';
    var activate_all_search_url = '{% url "activate-all-search" %}';
    var activate_own_search_url = '{% url "activate-own-search" %}';
    var activate_all_search_msg = "{% trans 'Searches in the shortcut menu deal with all items.' %}";
    var activate_own_search_msg = "{% trans 'Searches in the shortcut menu deal with only your items.' %}";
    var search_pinned_msg = "{% trans 'Search pinned' %}";
    var complete_list_label = "{% trans 'complete list...' %}";
    var added_message = "{% trans " items added." %}";
    var select_only_one_msg = "{% trans "Select only one item." %}";
    var YES = "{% trans 'yes' %}";
    var NO = "{% trans 'no' %}";
    var fetching_msg = "{% trans 'Fetching data...' %}";
    var stats_incompatible_modality = "{% trans 'This graph type accept only one modality.' %}";
    var show_msg = "{% trans "Show" %}";
    var entries_msg = "{% trans "entries" %}";
    var info_show_msg = "{% trans "Showing" %}";
    var info_entries_msg = "{% trans "entrie(s)" %}";
    var table_to_msg = "{% trans "to" %}";
    var table_of_msg = "{% trans "of" %}";
    var no_data_gallery_msg = "{% trans "No data available in the gallery" %}";
    var item_list_msg = "{% trans "Item list" %}";
    var autorefresh_message_start = "{% trans 'Autorefresh start. The form is disabled.' %}";
    var autorefresh_message_end =  "{% trans 'Autorefresh end. The form is re-enabled.' %}";
    var track_me_msg = "{% trans "Geolocalize me" %}";
    var geoloc_activated_msg = "{% trans "Geolocation activated" %}";
    var geoloc_disabled_msg = "{% trans "Geolocation disabled" %}";
    var limit_map_msg = "{% trans "Limit to {0} items" %}";
    var limit_map_help_msg = "{% trans "Unchecking this limit on a poorly performing device may result in web browser freeze" %}";
    var displayed_map_msg = "{% trans "{0} items displayed on the map" %}";
    var non_displayed_map_msg = "{% trans "{0} items not displayed" %}";
    var non_displayed_map_link_msg = "{% trans "(list)" %}";
    </script>
    {% endcompress %}
    <link rel="stylesheet" href="{{STATIC_URL}}ol/ol.css?ver={{VERSION}}">
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/bootstrap.css?ver={{VERSION}}">
    <link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css?ver={{VERSION}}">
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/chosen/chosen.min.css?ver={{VERSION}}">
    <link rel="stylesheet" href="{{STATIC_URL}}js/prettyPhoto/css/prettyPhoto.css?ver={{VERSION}}">
    <link rel="stylesheet"
          href="{{STATIC_URL}}datatables/datatables.min.css?ver={{VERSION}}">
    <link rel="stylesheet" href="{{STATIC_URL}}datatables/dataTables.bootstrap4.min.css?ver={{VERSION}}">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}lightgallery/css/lightgallery.css?ver={{VERSION}}">
    <link rel="stylesheet" href="{{STATIC_URL}}ol/ol.css?ver={{VERSION}}">
    <link rel="stylesheet" href="{{STATIC_URL}}js/jqplot/jquery.jqplot.min.css?ver={{VERSION}}" />
    <link rel="stylesheet" href="{{STATIC_URL}}media/styles.css?ver={{VERSION}}">
    {% for url_css in JQGRID_CSS %}<link rel="stylesheet" href="{{url_css}}?ver={{VERSION}}">{% endfor %}
    {{EXTRA_CSS|safe}}
    {% endcompress %}
    {% block extra_head %}
    {% endblock %}
    <script type='text/javascript'>
    map_default_center = '{{SITE_PROFILE.default_center.wkt}}';
    map_default_zoom = '{{SITE_PROFILE.default_zoom}}';
    {% if DEBUG %}
    debug = true;
    {% endif %}
    </script>
</head>
<body data-spy="scroll" data-target="#window-fixed-menu"{% if current_theme%} id='{{current_theme}}'{%endif%}>
    {% include "navbar.html" %}
    {% if SITE_PROFILE.warning_name %}
    <div id="warning-banner">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{SITE_PROFILE.warning_name }}
        {% if SITE_PROFILE.warning_message %}
        <a href="#warning-message" data-toggle="modal">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
        {% endif %}
    </div>

    {% if SITE_PROFILE.warning_message %}
    <div class="modal" id='warning-message' tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{% trans "Warning" %}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="closed_wait = true;return true;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{SITE_PROFILE.warning_message}}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div id="context-menu" class="navbar navbar-expand-lg">
        <div class="navbar-collapse collapse justify-content-between">
            <span id="alert-list">
            </span>
        </div>
    </div>
    {% if reminders %}
    <div id="reminder"><h5>{% trans "Current items" %}</h5>
{% for lbl, value in reminders %}
<p><strong class='lbl'>{{lbl}}{% trans ":"%}</strong> <span class='value'>{{value}}</span></p>
{% endfor %}
</div> {%endif%}
    <button class="nav-button btn btn-sm btn-secondary" id="to_top_arrow">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
    {% block pre_container %}{% endblock %}
    <div class="container-fluid px-5 mt-3" id="main-container">
        {% block top_content %}{% endblock %}
        <nav id="window-fixed-menu"
             class="navbar navbar-light flex-column">
            <div class="row" id="window-menu-title">
                <div class="col-9">
                    <a href="#">{% trans "Sheets" %}</a>
                </div>
                <div class="col-2" id="window-menu-control">
                    <a href="#" onclick="toggle_window_menu()">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </div>
            </div>
            <ul class="nav nav-pills flex-column" id="window-fixed-menu-list">
            </ul>
        </nav>
        <div id="message_list">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                 role="alert">
                {{message|safe}}
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>{% endfor %}
            {% endif %}
            {% if MESSAGES %}{% for message, message_type in MESSAGES %}
            <div class="alert alert-{{message_type}} alert-dismissible fade show"
                 role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}{% endif %}
        </div>
        {% if warnings %}{% for warning in warnings %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{warning}}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}{% endif %}
        <div id="window_wrapper" class="container">
            <div id="window" role="tablist"></div>
        </div>
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
    <div id="footer">
        {% include 'ishtar/blocks/footer.html' %}
    </div>
    {% endblock %}
    <div class="modal" id="modal-dynamic-form" tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
    </div>
    {% for extra_form in extra_form_modals %}
    <div class="modal" id="modal-dynamic-form-{{extra_form}}" tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
    </div>
    {% endfor %}
    <div class="modal modal-progress" tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="false" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content" id='progress-content'>
            <div class="modal-header">
                <span class='progress-detail progress-1'>
                    {% trans "Processing..." %}</span>
                <span class='progress-detail progress-2'>
                    {% trans "This can be long." %}</span>
                <span class='progress-detail progress-3'>
                    {% trans "Time to take a coffee?" %} <i class="fa fa-coffee" aria-hidden="true"></i></span>
                <span class='progress-detail progress-4'>
                    {% trans "Time to take another coffee?" %} <i class="fa fa-coffee" aria-hidden="true"></i></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="closed_wait = true;return true;">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div id='message'>
        <div class='information'><i class="fa fa-info-circle" aria-hidden="true"></i> <span class='content'></span></div>
    </div>
</body>

</html>
