{% extends "500.html" %}
{% load i18n %}
{% block error %}
<h3>{{error_title}}</h3>
<p>{{error}}</p>
{% if back_url %}
<p><a href="{{back_url}}">{% trans "Back to your page" %}</a></p>
{% endif %}
{% endblock %}
