{% load i18n %}
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% block header %}
    <a class="navbar-brand" href="/">
        <img src="{{STATIC_URL}}media/images/ishtar-blason.svg"
             width="30" height="30" alt="">
    </a>
    {% include "actions.html" %}
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbar-actions"
            aria-controls="navbar-actions" aria-expanded="false"
            aria-label="{% trans 'Toggle navigation' %}">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-actions">
    <ul class="navbar-nav">
        {% if APP_NAME %}
        <li class="nav-item">
            <a class="navbar-brand" href="/">{{APP_NAME}}</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                {{ user.username }} / {{user.ishtaruser.current_profile_name}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'profile' %}">
                    {% trans "Profile" %}
                </a>
                <a class="dropdown-item" href="{% url 'auth_password_change' %}">
                    {% trans "Change password" %}
                </a>
                <a class="dropdown-item" href="{% url 'auth_logout' %}">
                    {% trans "Log out" %}
                </a>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
        </li>
        {% endif %}
        {% if LANGUAGES|length > 1 %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-flag" aria-hidden="true"></i></a>
                {% csrf_token %}
            <div class="dropdown-menu dropdown-menu-right" id="language-selector">
                {% for lang in LANGUAGES %}<a class="dropdown-item" href="#" data-lang="{{ lang.0 }}">
                    {{ lang.1 }}
                </a>{% endfor %}
                <form action="/i18n/setlang/" method="post" id='language-form'>
                    {% csrf_token %}
                    <input name="language" value="{{LANGUAGE_CODE}}">
                </form>
            </div>
        </li>
        {% endif %}
        {% if user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="/admin/">
                <i class="fa fa-cogs"></i>
            </a>
        </li>
        {% endif %}
    </ul>
    </div>
    {% endblock %}
</header>
