{% extends "ishtar/sheet.html" %}
{% load i18n window_field from_dict link_to_window window_tables window_ope_tables window_header humanize %}

{% block head_title %}<strong>{% trans "Treatment request" %}</strong> - {{ item.name|default:"" }}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-treatmentfile' 'treatmentfile_modify' 'show-historized-treatmentfile' 'revert-treatmentfile' previous next 1 %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-1 col-sm-10 col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <p class="window-refs">{{ item.name|default:"" }}</p>
                    {% if item.internal_reference %}
                    <p class="window-refs">{{ item.internal_reference }}</p>{% endif %}
                    <p class="window-refs">{{ item.year }} - {{ item.index }}</p>
                    {% if item.external_id %}
                    <p class="window-refs">{{ item.external_id }}</p>{% endif %}
                    {% if item.end_date %}
                    <p class="window-refs">{% trans "Closed" context "Treatment request" %} ({{item.end_date}})</p>
                    {% else %}
                    <p class="window-refs">{% trans "Active" context "Treatment request" %}</p>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% field_flex "Type" item.type %}
    {% field_flex_detail "Responsible" item.in_charge %}
    {% field_flex_detail "Associated basket" item.associated_basket %}
    {% field_flex "Reception date" item.reception_date %}
    {% field_flex "Start date" item.creation_date %}
    {% field_flex "Closing date" item.end_date %}
    {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
    {% include "ishtar/blocks/sheet_json.html" %}
</div>

{% if item.exhibition_name or item.exhibition_start_date or item.exhibition_end_date %}
<h3>{% trans "Exhibition" %}</h3>
<div class="row">
    {% field_flex "Name" item.exhibition_name %}
    {% field_flex "Start date" item.exhibition_start_date %}
    {% field_flex "End date" item.exhibition_end_date %}
</div>
{% endif %}

{% if item.applicant %}
<h3>{% trans "Applicant" %}</h3>
<div class="row">
    {% field_flex_detail "Name" item.applicant %}
    {% field_flex_full "Contact" item.applicant.address_lbl %}
</div>
{% endif %}

{% if item.applicant_organisation %}
<h3>{% trans "Applicant organisation" %}</h3>
<div class="row">
    {% field_flex_detail "Name" item.applicant_organisation %}
    {% field_flex_full "Contact" item.applicant.address_lbl %}
</div>
{% endif %}

{% if item.treatments.count %}
{% trans "Treatments" as treatments %}
{% dynamic_table_document treatments 'treatments' 'file' item.pk '' output '' 'treatment' %}
{% endif %}

{% comment %}
{% if item.source.count %}
{% trans "Associated documents" as associated_docs %}
{% dynamic_table_document associated_docs 'treatmentfiles_docs' 'treatment_file' item.pk '' output %}
{% endif %}
{% endcomment %}

{% if item.administrative_act.count %}
{% trans "Administrative acts" as admact_lbl %}
{% table_administrativact admact_lbl item.administrative_act.all %}
{% endif %}

{% endblock %}
