{% load i18n window_field from_dict link_to_window window_tables window_header humanize %}
<div id="{{window_id}}-base-find-{{forloop.counter}}" role="tabpanel"
     class="tab-pane fade{% if forloop.first %} show active{% endif %}">
    <p class='window-refs text-center'>{{ base_find.complete_id }}</p>
    {% if base_find.complete_id != base_find.short_id %}
        <p class='window-refs text-center'>{{ base_find.short_id }}</p>
    {% endif %}
    {% if base_find.external_id %}
    <p class='window-refs text-center external-id'>
        <small title="{% trans 'Internal ID' %}">
            <i class="fa fa-key" aria-hidden="true"></i>
            {{base_find.external_id|default:''}}
        </small>
    </p>{% endif %}

    <div class='row'>
        {% field_flex_detail "Operation" base_find.context_record.operation first %}
        {% field_flex_detail "Archaeological site" base_find.context_record.archaeological_site first %}
        {% field_flex_detail "Context record" base_find.context_record first %}
        {% field_flex "Town" base_find.context_record.town.label_with_areas '' '' first %}
        {% field_flex "Parcel" base_find.context_record.parcel '' '' first %}

        {# START discovery dates #}
        {% if not base_find.discovery_date_taq %}
        {% trans "Discovery date" as discovery_date_label %}
        {% field_flex discovery_date_label base_find.discovery_date '' '' first %}
        {% elif base_find.discovery_date.year == base_find.discovery_date_taq.year and base_find.discovery_date_taq|date:"d-m" == "31-12" and base_find.discovery_date|date:"d-m" == "01-01" %}
        {% trans "Discovery year" as discovery_year_label %}
        {% field_flex discovery_year_label base_find.discovery_date.year '' '' first %}
        {% else %}
        {% trans "Discovery date (TPQ)" as discovery_tpq_label %}
        {% field_flex discovery_tpq_label base_find.discovery_date '' '' first %}
        {% trans "Discovery date (TAQ)" as discovery_taq_label %}
        {% field_flex discovery_taq_label base_find.discovery_date_taq '' '' first %}
        {% endif %}
        {# END discovery dates #}

        {% field_flex "Excavation ID" base_find.excavation_id '' '' first %}
        {% field_flex "Batch/object" base_find.batch '' '' first %}
        {% if base_find.history_object and base_find.history_object.IS_ISOLATED_DICT %}
        {% field_flex "Batch/object" base_find.batch|from_dict:base_find.history_object.IS_ISOLATED_DICT '' '' first %}
        {% endif %}

        {% field_flex "Special interest" base_find.special_interest '' '' first %}
        {% field_flex_full "Description" base_find.description "<pre>" "</pre>" first %}
        {% field_flex_full "Comment" base_find.comment "<pre>" "</pre>" first %}
    </div>
    <h3>{% trans "Sheet"%}</h3>
    <div class='row'>
        {% with item.history_creation_date|date:"SHORT_DATETIME_FORMAT" as creation_date %}
        {% with item.history_creator.ishtaruser.full_label|add:"<br/><i>"|add:creation_date|add:"</i>" as creator %}
        {% field_flex "Created by" creator|safe '' '' first %}
        {% endwith %}{% endwith %}
        {% if item.history_creation_date != item.last_edition_date %}
        {% with item.last_edition_date|date:"SHORT_DATETIME_FORMAT" as edition_date %}
        {% with item.history_modifier.ishtaruser.full_label|add:"<br/><i>"|add:edition_date|add:"</i>" as modifier %}
        {% trans "Last modified by" as lastmodifiedby_label %}
        {% field_flex lastmodifiedby_label modifier|safe '' '' first %}
        {% endwith %}{% endwith %}
        {% endif %}
    </div>

    {% if base_find.point_2d or base_find.x or base_find.y or base_find.topographic_localisation %}
    {% if base_find.point_2d %}
    <div class="clearfix">
    </div>
    {% endif %}
    <h3>{% trans "Localisation"%}</h3>
    <div class='row'>
        {% with geo_item=base_find %}
        {% include "ishtar/blocks/sheet_simple_map.html"%}
        <div class="col-12 col-lg-6 flex-wrap">
        {% include "ishtar/blocks/sheet_coordinates.html"%}
        {% field_flex_full "Point of topographic reference" base_find.topographic_localisation %}
        </div>
        {% endwith %}
    </div>
    {% endif %}
</div>

