{% extends "ishtar/sheet.html" %}
{% load i18n window_tables window_header from_dict window_field %}

{% block head_title %}{% trans "Basket" %} - {{item.label}}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-findbasket' 'find_basket_modify' %}
{% endblock %}

{% block content %}

<div class='row'>
    {% field_flex "Label" item.label %}
    {% field_flex_detail "Owned by" item.user.person %}
    {% field_flex "Slug" item.slug %}
    {% field_flex "Is public" item.public %}
    {% field_flex "Comment" item.comment %}
    {% field_flex_multiple_full "Shared (read) with" item.shared_with %}
    {% field_flex_multiple_full "Shared (read/edit) with" item.shared_write_with %}
    {% trans "Associated treatment files" as treatment_label %}
    {% field_flex_detail_multiple_full treatment_label item.treatment_files %}
</div>

<h3>{% trans "Content" %}</h3>

{% dynamic_table_document finds 'finds' 'basket_id' item.pk 'TABLE_COLS' output %}


{% endblock %}
