{% extends "ishtar/sheet.html" %}
{% load i18n ishtar_helpers window_field from_dict link_to_window window_tables window_header humanize %}

{% block head_title %}<strong>{% trans "Find" %}</strong>{% if item.denomination %} - {{item.denomination|default:""}}{% endif %} - {{item.label|default:""}}{% endblock %}

{% block toolbar %}
{% window_find_nav item window_id 'show-find' 'find_modify' 'show-historized-find' 'revert-find' previous next 1 baskets %}
{% endblock %}

{% block content %}

{% if item.downstream_treatment %}
<div class="alert alert-warning" role="alert">
    {% trans "This sheet has a downstream treatment: it is related to an old version of the find." %}</p>
</div>
{% endif %}

{# trick to set to null non existing variable #}
{% with permission_view_document=permission_view_document %}
{% with permission_view_own_document=permission_view_own_document %}

{% with m2m_listing_datings=item|m2m_listing:'datings' %}
{% with non_modif_treatments_count=item.non_modif_treatments_count %}
{% with associated_treatment_files_count=item.associated_treatment_files_count %}

{% with display_datings=item.integrities.count|or_:item.remarkabilities.count|or_:item.conservatory_state|or_:item.conservatory_comment|or_:item.alterations.count|or_:item.alteration_causes.count|or_:item.preservation_to_considers.count|or_:item.appraisal_date|or_:item.treatment_emergency|or_:item.insurance_value|or_:item.estimated_value|or_:m2m_listing_datings|or_:item.dating_comment|or_:item.cultural_attributions.count %}
{% with display_warehouse_treatments=item.container|or_:item.container_ref|or_:item.upstream_treatment|or_:item.downstream_treatment|or_:non_modif_treatments_count|or_:associated_treatment_files_count %}
{% with can_view_documents=permission_view_own_document|or_:permission_view_document %}
{% with display_documents=can_view_documents|and_:item.documents.count %}

{% if output != "ODT" and output != "PDF"%}
<ul class="nav nav-tabs" id="{{window_id}}-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="{{window_id}}-basefind-tab"
           data-toggle="tab" href="#{{window_id}}-basefind" role="tab"
           aria-controls="{{window_id}}-basefind" aria-selected="true">
            {% trans "Image / Base find" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-identification-tab"
           data-toggle="tab" href="#{{window_id}}-identification" role="tab"
           aria-controls="{{window_id}}-identification" aria-selected="false">
            {% trans "Identification / Description / Dimensions" %}
        </a>
    </li>
    {% if display_datings %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-preservation-tab"
           data-toggle="tab" href="#{{window_id}}-preservation" role="tab"
           aria-controls="{{window_id}}-preservation" aria-selected="false">
            {% trans "Datings / Preservation" %}
        </a>
    </li>
    {% endif %}
    {% if display_warehouse_treatments %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-warehouse-tab"
           data-toggle="tab" href="#{{window_id}}-warehouse" role="tab"
           aria-controls="{{window_id}}-warehouse" aria-selected="false">
            {% trans "Warehouse / Treatments" %}
        </a>
    </li>
    {% endif %}
    {% if display_documents %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-documents-tab"
           data-toggle="tab" href="#{{window_id}}-documents" role="tab"
           aria-controls="{{window_id}}-treatments" aria-selected="false">
            {% trans "Documents" %}
        </a>
    </li>
    {% endif %}
    {% if item.data %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-json-tab"
           data-toggle="tab" href="#{{window_id}}-json" role="tab"
           aria-controls="{{window_id}}-json" aria-selected="false">
            {% trans "Custom fields" %}
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}

<div class="tab-content" id="{{window_id}}-tab-content">

  <div class="tab-pane fade show active" id="{{window_id}}-basefind"
       role="tabpanel" aria-labelledby="{{window_id}}-basefind-tab">
      {% with has_image=item.images.count %}
      {% if has_image %}
      <div class="clearfix">
          <div class="card float-left col-12 col-md-6 col-lg-4">
              {% include "ishtar/blocks/window_image.html" %}
          </div>
          {% endif %}

          <ul class="nav nav-pills" role="tablist">
              {% for base_find in item.base_finds.all %}
              <li class="nav-item">
                  <a class="nav-link{% if forloop.first %} active{% endif %}"
                     data-toggle="tab" href="#{{window_id}}-base-find-{{forloop.counter}}"
                     role="tab">
                      {{base_find.short_id}}
                  </a>
              </li>
              {% endfor %}
          </ul>

          <div class="tab-content">
              {% for base_find in item.base_finds.all %}
              {% with first=forloop.first|add:has_image %}
              {% include "ishtar/sheet_basefind.html" %}
              {% endwith %}
              {% endfor %}
          </div>
          {% if has_image %}
      </div>
      {% endif %}
      {% endwith %}
  </div>

  <div class="tab-pane fade" id="{{window_id}}-identification"
       role="tabpanel" aria-labelledby="{{window_id}}-identification-tab">
      <h3>{% trans "Identification" %}</h3>

      <div class='text-center'>
          {% include "ishtar/blocks/sheet_external_id.html" %}
      </div>

      <div class='row'>
          {% field_flex "Denomination" item.denomination %}
          {% field_flex "Free ID" item.label %}
          {% field_flex "Previous ID" item.previous_id %}
          {% field_flex "Excavation ID" item.excavation_ids %}
          {% field_flex "Museum ID" item.museum_id %}
          {% field_flex "Laboratory ID" item.laboratory_id %}
          {% field_flex "Seal number" item.seal_number %}
          {% trans "Administrative index" as admin_index_label %}
          {% field_flex admin_index_label item.administrative_index %}
          {% field_flex_full "Mark" item.mark "<pre>" "</pre>" %}
      </div>

      <h3>{% trans "Description" %}</h3>
      <div class='row'>
          {% field_flex_full "Description" item.description "<pre>" "</pre>" %}
          {% field_flex_full "Public description" item.public_description "<pre>" "</pre>" %}
          {% field_flex "Is complete?" item.is_complete %}
          {% field_flex_multiple_obj "Material types" item 'material_types' %}
          {% field_flex "Material type quality" item.material_type_quality %}
          {% field_flex_full "Comment on the material" item.material_comment "<pre>" "</pre>" %}
          {% field_flex_multiple_obj "Object types" item 'object_types' %}
          {% field_flex "Object type quality" item.object_type_quality %}
          {% field_flex "Find number" item.find_number %}
          {% field_flex "Minimum number of individuals (MNI)" item.min_number_of_individuals %}
          {% field_flex_full "Decoration" item.decoration "<pre>" "</pre>" %}
          {% field_flex_full "Inscription" item.inscription "<pre>" "</pre>" %}
          {% field_flex "Manufacturing place" item.manufacturing_place %}
          {% field_flex_multiple_obj "Communicability" item 'communicabilities' %}
          {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
      </div>

      {% if item.length or item.width or item.height or item.diameter or item.thickness or item.volume or item.weight_string or item.dimensions_comment or item.clutter_long_side or item.clutter_short_side or item.clutter_height %}
      <h3>{% trans "Dimensions" %}</h3>
      <div class='row'>
          {% field_flex "Length (cm)" item.length %}
          {% field_flex "Width (cm)" item.width %}
          {% field_flex "Height (cm)" item.height %}
          {% field_flex "Thickness (cm)" item.thickness %}
          {% field_flex "Diameter (cm)" item.diameter %}
          {% field_flex "Circumference (cm)" item.circumference %}
          {% field_flex "Volume (l)" item.volume %}
          {% trans "Weight (g)" as weight_label %}
          {% field_flex weight_label item.weight_string %}
          {% field_flex "Clutter long side (cm)" item.clutter_long_side %}
          {% field_flex "Clutter short side (cm)" item.clutter_short_side %}
          {% field_flex "Clutter height (cm)" item.clutter_height %}
          {% field_flex_full "Dimensions comment" item.dimensions_comment "<pre>" "</pre>" %}
      </div>
      {% endif %}

      <h3>{% trans "Sheet" %}</h3>
      <div class='row'>
          {% trans "Checked" as checked_label %}
          {% field_flex checked_label item.checked_type %}
          {% field_flex "Check date" item.check_date %}
          {% include "ishtar/blocks/sheet_creation_section.html" %}
      </div>
  </div>
  {% if display_datings %}
  <div class="tab-pane fade" id="{{window_id}}-preservation"
       role="tabpanel" aria-labelledby="{{window_id}}-preservation-tab">
      {% if item.integrities.count or item.remarkabilities.count or item.conservatory_state or item.conservatory_comment or item.alterations.count or item.alteration_causes.count or item.preservation_to_considers.count or item.appraisal_date or item.treatment_emergency or item.insurance_value or item.estimated_value %}
      <h3>{% trans "Preservation" %}</h3>
      <div class='row'>
          {% field_flex_multiple_obj "Integrity / interest" item 'integrities' %}
          {% field_flex_multiple_obj "Remarkability" item 'remarkabilities' %}
          {% field_flex "Conservatory state" item.conservatory_state %}
          {% field_flex_multiple_obj "Alteration" item 'alterations' %}
          {% field_flex_multiple_obj "Alteration cause" item 'alteration_causes' %}
          {% field_flex_multiple_obj "Recommended treatments" item 'preservation_to_considers' %}
          {% field_flex "Treatment emergency" item.treatment_emergency %}
          {% field_flex "Estimated value" item.estimated_value|default_if_none:''|intcomma '' ' '|add:CURRENCY %}
          {% field_flex "Insurance value" item.insurance_value|default_if_none:''|intcomma '' ' '|add:CURRENCY %}
          {% field_flex "Appraisal date" item.appraisal_date %}
          {% field_flex_full "Conservatory comment" item.conservatory_comment "<pre>" "</pre>" %}
      </div>
      {% endif %}

      {% if m2m_listing_datings or item.dating_comment or item.cultural_attributions.count %}
      <h3>{% trans "Dating" %}</h3>
      {% if item.cultural_attributions.count %}
      <div class='row'>
      {% field_flex_multiple_obj "Cultural attributions" item 'cultural_attributions' %}
      </div>
      {% endif %}
      <table id='{{window_id}}-datings' class="table table-striped">
          <tr>
              <th>{% trans "Period" %}</th>
              <th>{% trans "Start date" %}</th>
              <th>{% trans "End date" %}</th>
              <th>{% trans "Dating type" %}</th>
              <th>{% trans "Quality" %}</th>
              <th>{% trans "Precise dating" %}</th>
          </tr>
          {% for dating in m2m_listing_datings %}
          <tr>
              <td>
                  {{dating.period}}
              </td>
              <td>
                  {{dating.start_date|default_if_none:"-"}}
              </td>
              <td>
                  {{dating.end_date|default_if_none:"-"}}
              </td>
              <td>
                  {{dating.dating_type|default_if_none:"-"}}
              </td>
              <td>
                  {{dating.quality|default_if_none:"-"}}
              </td>
              <td>
                  {{dating.precise_dating|default_if_none:"-"}}
              </td>
          </tr>
          {% endfor %}
      </table>
      {% field_flex_full "Comment on dating" item.dating_comment "<pre>" "</pre>" %}
      {% endif %}
  </div>
  {% endif %}
  {% if display_warehouse_treatments %}
  <div class="tab-pane fade" id="{{window_id}}-warehouse"
       role="tabpanel" aria-labelledby="{{window_id}}-warehouse-tab">
      {% if item.container_ref %}
      <h3>{% trans "Warehouse - reference container"%}</h3>
      <div class='row'>
          {% field_flex_detail "Container" item.container_ref %}
          {% field_flex "Container ID" item.container_ref.cached_location %}
          {% field_flex_detail "Responsible warehouse" item.container_ref.responsible %}
          {% field_flex_detail "Location (warehouse)" item.container_ref.location %}
          {% field_flex "Precise localisation" item.container_ref.cached_division %}
      </div>
      {% endif %}
      {% if item.container and item.container_ref.pk != item.container.pk %}
      <h3>{% trans "Warehouse - current container"%}</h3>
      <div class='row'>
          {% field_flex_detail "Container" item.container %}
          {% field_flex "Container ID" item.container.cached_location %}
          {% field_flex_detail "Responsible warehouse" item.container.responsible %}
          {% field_flex_detail "Location (warehouse)" item.container.location %}
          {% field_flex "Precise localisation" item.container.cached_division %}
      </div>
      {% endif %}
      {% if item.upstream_treatment or item.downstream_treatment or non_modif_treatments_count %}
      {% if non_modif_treatments_count %}
      <h3>{% trans "Simple treatments"%}</h3>
      <table id='{{window_id}}-treatments' class="table table-striped">
          <tr>
              <th>&nbsp;</th>
              <th>{% trans "Year - index" %}</th>
              <th>{% trans "Label" %}</th>
              <th>{% trans "Type" %}</th>
              <th>{% trans "State" %}</th>
              <th>{% trans "Related finds (max. 15 displayed)" %}</th>
              <th>{% trans "Doer" %}</th>
              <th>{% trans "Container" %}</th>
              <th>{% trans "Start date" %}</th>
              <th>{% trans "End date" %}</th>
          </tr>
          {# {% for treatment in item.treatments.all %} #}
          {% for items, treatment in item.non_modif_treatments %}
          <tr>
              <td>
                  <a class="display_details" href="#"
                     onclick="load_window('{% url 'show-treatment' treatment.id %}/');">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                  </a>
              </td>
              <td class='string'>{{ treatment.year }} - {{treatment.index}}</td>
              <td class='string'>{{ treatment.label|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.treatment_types_lbl }}</td>
              <td class='string'>{{ treatment.treatment_state|default_if_none:"-" }}</td>
              <td class='item-list'>{% for it in items %}<span>{{it}} {{it|link_to_window:request}}</span>{% endfor %}</td>
              <td class='string'>{{ treatment.person|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.container|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.start_date|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.end_date|default_if_none:"-" }}</td>
          </tr>
          {% endfor %}
      </table>
      {% endif %}

      {% if item.upstream_treatment %}
      <h3>{% trans "Upstream treatment" %}</h3>
      <table id='{{window_id}}-upstream' class="table table-striped">
          <tr>
              <th>&nbsp;</th>
              <th>{% trans "Year - index" %}</th>
              <th>{% trans "Label" %}</th>
              <th>{% trans "Type" %}</th>
              <th>{% trans "State" %}</th>
              <th>{% trans "Related finds (max. 15 displayed)" %}</th>
              <th>{% trans "Doer" %}</th>
              <th>{% trans "Container" %}</th>
              <th>{% trans "Start date" %}</th>
              <th>{% trans "End date" %}</th>
          </tr>
          {% for items, treatment in item.limited_upstream_treatments %}
          <tr>
              <td>
                  <a class="display_details" href="#"
                     onclick="load_window('{% url 'show-treatment' treatment.id %}/');">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                  </a>
              </td>
              <td class='string'>{{ treatment.year }} - {{treatment.index}}</td>
              <td class='string'>{{ treatment.label|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.treatment_types_lbl }}</td>
              <td class='string'>{{ treatment.treatment_state|default_if_none:"-" }}</td>
              <td class='item-list'>{% for it in items %}<span>{{it}} {{it|link_to_window:request}}</span>{% endfor %}</td>
              <td class='string'>{{ treatment.person|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.container|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.start_date|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.end_date|default_if_none:"-" }}</td>
          </tr>
          {% endfor %}
      </table>
      <p class='tool'><a class='badge' href="{% url 'get-upstreamtreatment' 'csv' %}?submited=1&amp;find_id={{item.pk}}" target="_blank" title='{% trans "Export as CSV"%}'>{% trans "CSV" %}</a> ({{ENCODING}})</p>
      {% endif %}

      {% if item.downstream_treatment %}
      <h3>{% trans "Downstream treatment" %}</h3>
      <table id='{{window_id}}-downstream' class="table table-striped">
          <tr>
              <th>&nbsp;</th>
              <th>{% trans "Year - index" %}</th>
              <th>{% trans "Label" %}</th>
              <th>{% trans "Type" %}</th>
              <th>{% trans "State" %}</th>
              <th>{% trans "Related finds (max. 15 displayed)" %}</th>
              <th>{% trans "Doer" %}</th>
              <th>{% trans "Container" %}</th>
              <th>{% trans "Start date" %}</th>
              <th>{% trans "End date" %}</th>
          </tr>
          {% for items, treatment in item.limited_downstream_treatments %}
          <tr>
              <td>
                  <a class="display_details" href="#"
                     onclick="load_window('{% url 'show-treatment' treatment.id %}/');">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                  </a>
              </td>
              <td class='string'>{{ treatment.year }} - {{treatment.index}}</td>
              <td class='string'>{{ treatment.label|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.treatment_types_lbl }}</td>
              <td class='string'>{{ treatment.treatment_state|default_if_none:"-" }}</td>
              <td class='item-list'>{% for it in items %}<span>{{it}} {{ it|link_to_window:request}}</span>{% endfor %}</td>
              <td class='string'>{{ treatment.person|default_if_none:"" }}</td>
              <td class='string'>{{ treatment.container|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment.start_date|default_if_none:"" }}</td>
              <td class='string'>{{ treatment.end_date|default_if_none:"" }}</td>
          </tr>
          {% endfor %}
      </table>

      <p class='tool'><a class='badge' href="{% url 'get-downstreamtreatment' 'csv' %}?submited=1&amp;find_id={{item.pk}}" target="_blank">{% trans "CSV" %}</a> ({{ENCODING}})</p>
      {% endif %}
      {% endif %}
      {% if item.associated_treatment_files_count %}
      <h3>{% trans "Treatment requests" %}</h3>
      <table id='{{window_id}}-treatment-files' class="table table-striped">
          <tr>
              <th>&nbsp;</th>
              <th>{% trans "Year - index" %}</th>
              <th>{% trans "Type" %}</th>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Person in charge" %}</th>
              <th>{% trans "Applicant" %}</th>
              <th>{% trans "Applicant organisation" %}</th>
              <th>{% trans "Reception date" %}</th>
              <th>{% trans "End date" %}</th>
          </tr>
          {% for treatment_file in item.associated_treatment_files %}
          <tr>
              <td>
                  <a class="display_details" href="#"
                     onclick="load_window('{% url 'show-treatmentfile' treatment_file.id %}/');">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                  </a>
              </td>
              <td class='string'>{{ treatment_file.year }} - {{treatment_file.index}}</td>
              <td class='string'>{{ treatment_file.type }}</td>
              <td class='string'>{{ treatment_file.name|default_if_none:"-" }}</td>
              <td class='string'>{{ treatment_file.in_charge|default_if_none:"" }}</td>
              <td class='string'>{{ treatment_file.applicant|default_if_none:"" }}</td>
              <td class='string'>{{ treatment_file.applicant_organisation|default_if_none:"" }}</td>
              <td class='string'>{{ treatment_file.reception_date|default_if_none:"" }}</td>
              <td class='string'>{{ treatment_file.end_date|default_if_none:"" }}</td>
          </tr>
          {% endfor %}
      </table>
      {% endif %}
  </div>
  {% endif %}
  {% if display_documents %}
  <div class="tab-pane fade" id="{{window_id}}-documents"
       role="tabpanel" aria-labelledby="{{window_id}}-documents-tab">
      {% trans "Associated documents" as finds_docs %}
      {% dynamic_table_document finds_docs 'documents' 'finds' item.pk '' output %}
  </div>
  {% endif %}
  {% if item.data %}
  <div class="tab-pane fade" id="{{window_id}}-json"
       role="tabpanel" aria-labelledby="{{window_id}}-json-tab">
      {% include "ishtar/blocks/sheet_json.html" %}
  </div>
  {% endif %}
</div>

{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}

{% endblock %}

