{% extends "ishtar/blocks/window_nav.html" %}
{% load i18n link_to_window %}
{% block post_pin %}{% if baskets %}
<div class="dropdown btn-secondary">
  <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
          id="dropdown-post-pin-{{window_id}}"
          data-toggle="dropdown"aria-haspopup="true"
          aria-expanded="false">
    <i class="fa fa-shopping-basket"></i> {% trans "Baskets" %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdown-post-pin-{{window_id}}">
    {% for basket_id, lbl in baskets %}
      <a class="dropdown-item" href="#"
         onclick="load_window('{% url 'show-findbasket' basket_id %}')">
        <i class="fa fa-info-circle display_details" aria-hidden="true"></i>
        {{lbl}}
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}{% endblock %}
