{% load i18n %}
<h3>{{ parcels_label }}</h3>
<table class="table table-striped">
  <thead>
      <tr>
        <th>{% trans "Town" %}</th>
        <th>{% trans "Year" %}</th>
        <th>{% trans "Section" %}</th>
        <th>{% trans "Parcels" %}</th>
        {#<th>{% trans "Owner" %}</th>#}
      </tr>
  </thead>
  <tbody>
  {% for parcel in item.grouped_parcels %}
  <tr>
    <td class='string'>{{parcel.town}}</td>
    <td>{{parcel.year|default_if_none:"-"}}</td>
    <td>{{parcel.section|default_if_none:"-"}}</td>
    <td>{{parcel.parcel_numbers|join:", "}}</td>
    {#<td class='string'>{{operation.parcel.owner}}</td>#}
  </tr>
  {% empty %}
  <tr><td colspan="4" class='no_items'>{% trans "No parcel" %}</td></tr>
  {% endfor %}
  </tbody>
</table>
