{% extends "base.html" %}
{% load i18n %}
{% load range %}
{% block content %}
<h2>{{wizard_label}}</h2>

{% include "ishtar/blocks/wizard_breadcrumb.html" %}

<form action="." method="post">{% csrf_token %}
<div class='form container'>
  {% block "warning_informations" %}{% endblock %}
  {% block "warning_message" %}
  <div class="alert alert-info">
    {% if confirm_msg %}{{confirm_msg|safe}}{%else%}{% trans "You have entered the following informations:" %}{%endif%}
  </div>
  {% endblock %}
  {% block "detailed_informations" %}
  {% block "cards" %}
  {% for form_label, form_data in datas %}

  <div class="card">
    {% if form_label %}
    <div class="card-header">
      {{form_label}}
    </div>{% endif %}
    <div class="card-body form-row">
      <table class='table'>
        {% for data in form_data %}
        <tr{% if data.2 %} class='{{data.2}}'{%endif%}><th>{{data.0}}</th><td>{{data.1}}</td></tr>
        {% endfor %}
      </table>

    </div>
  </div>

  {% endfor %}
  {% endblock "cards" %}
  {{wizard.management_form}}
  {% if not wizard.form.is_hidden %}
  <table>
    {{ wizard.form.as_table }}
   </table>
  {%endif%}
  <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
  {{ previous_fields|safe }}
  {% if extra_form %}
  <table>
  {{ extra_form }}
  </table>
  {% endif %}
  {% endblock %}
  {% block "extra_informations" %}{% endblock %}

  {% block "footer" %}
  <div id="footer">
    {% block "validation_bar" %}
    <p class="confirm-message">{%if confirm_end_msg %}{{confirm_end_msg|safe}}{%else%}{% trans "Would you like to save them?" %}{%endif%}</p>
    {% include 'ishtar/wizard/validation_bar.html' %}
    {% endblock %}
    {% include 'ishtar/blocks/footer.html' %}
  </div>
  {% endblock %}

</div>
</form>
{% endblock %}
