{% extends "ishtar/wizard/confirm_wizard.html" %}
{% load i18n %}
{% load range %}
{% block "warning_message" %}
<div class="alert alert-danger">
    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {% if current_objs and current_objs.1 %}
    {% trans "Are you sure to want to delete theses items?" %}
    <ul>{% for obj in current_objs %}
        <li>{{obj}}</li>
    {% endfor %}</ul>
    {% else %}
    {% trans "Are you sure to want to delete this item?" %}{% endif %}
    </p>
    <p>{% trans "No rollback is possible. Be careful to scroll to the end of page to check every piece of information." %}</p>
</div>
{% endblock %}

{% block "cards" %}
{% for form_label, form_data in datas %}

<div class="card">
    {% if form_label %}
    <div class="card-header">
        {{form_label}}
    </div>{% endif %}
    <div class="card-body">
        {% for current_object in current_objs %}{% if forloop.counter == forloop.parentloop.counter %}
        {% block "detailled_extra_info" %}
        {% endblock %}
        {% endif %}{% endfor %}
        <table class='table'>
            {% for data in form_data %}
            <tr{% if data.2 %} class='{{data.2}}'{%endif%}><th>{{data.0}}</th><td>{{data.1}}</td></tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endfor %}
{% endblock "cards" %}
