{% extends "base.html" %}
{% load i18n %}

{% block top_content %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {%trans "Item successfully saved"%}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
{% endblock %}

{% block content %}
{% if redirect or wizard_done_window %}
<script type='text/javascript' language='javascript'>
{% if redirect %}
window.location.href = "{{redirect}}";
{% endif %}
{% if wizard_done_window %}
$(function(){
    load_window("{{wizard_done_window}}{{item.pk}}/", "",
                function (){}, true); });
{% endif %}
</script>
{% endif %}
{% endblock %}
