{% extends "ishtar/wizard/default_wizard.html" %}
{% load i18n %}
{% block form_head %}
<div class="alert alert-warning">
    <i class="fa fa-exclamation-triangle"></i>
    {% trans 'This find is related to many base finds. To edit field related to base finds edit the corresponding find between theses:' %}
    <ul>{% for base_find in wizard.form.base_finds %}
    {% with find=base_find.get_main_find %}<li>
            {% if not find %}
            <p class="alert-danger">
                <i class="fa fa-exclamation-triangle"></i>
                {% trans "Inconsistency in the database: the related base find as not source find." %}
            </p>
            {% else %}
        {{find.short_label }}
        <a href="{% url 'find_modify' find.pk  %}"><i class="fa fa-pencil"></i></a>
            {% endif %}
    </li>{% endwith %}{% endfor %}</ul>
</div>
{% endblock %}
