{% extends "ishtar/wizard/confirm_wizard.html" %}
{% load i18n link_to_window %}

{% block "warning_message" %}
{% if current_object.treatment_files.count %}
<div class="alert alert-{% if has_downstream %}danger{% else %}warning{% endif%}">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {% trans "This basket is attached to treatments requests:" %}
    <ul>{% for tf in current_object.treatment_files.all %}
        <li>{{ tf }} {{tf|link_to_window:request}}</li>
    {% endfor %}</ul>
    {% trans "Are you sure you want to delete this basket?" %}
</div>
{% endif %}
<div class="alert alert-info">
    {% trans "Items inside the basket (these items will not be deleted):" %}
</div>
<ul>{% for item in current_object.items.all %}
    <li>{{item}} {{item|link_to_window:request}}</li>
{% endfor %}</ul>

<div class="alert alert-info">
    {% trans "Basket informations:" %}
</div>
{% endblock %}
