{% extends "ishtar/wizard/confirm_wizard.html" %}
{% load i18n link_to_window %}

{% block "warning_message" %}
{% with has_downstream=current_object.downstream.count %}
<div class="alert alert-{% if has_downstream %}danger{% else %}warning{% endif%}">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {% trans "Are you sure you want to delete this treatment?" %}
{% if has_downstream %}
    {% trans "The following finds will be deleted and restored to a previous version."%}
    <ul>{% for item in current_object.downstream.all %}
        <li>
            {{item}} {{item|link_to_window:request}}
        </li>
    {% endfor %}</ul>
    {% trans "All changes made to the associated finds since this treatment record will be lost!" %}
{% endif %}
</div>

<div class="alert alert-info">
    {% trans "Treatment informations:" %}
</div>



{% endwith %}
{% endblock %}
