{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
{{form.media}}
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/jquery.jqplot.min.js?ver={{VERSION}}"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.canvasTextRenderer.min.js?ver={{VERSION}}"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js?ver={{VERSION}}"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js?ver={{VERSION}}"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.highlighter.min.js?ver={{VERSION}}"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.pieRenderer.min.js?ver={{VERSION}}"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.dateAxisRenderer.min.js?ver={{VERSION}}"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/jqplot/plugins/jqplot.cursor.min.js?ver={{VERSION}}"></script>
<link rel="stylesheet" href="{{STATIC_URL}}js/jqplot/jquery.jqplot.min.css?ver={{VERSION}}" />
{% endblock %}
{% block content %}
<script type="text/javascript">
$(function() {
    $('#dashboard .nav-link').click(function () {
        var url = $(this).attr('data-url');
        dynamic_load(url, "#dashboard .card-body");
        $('#dashboard li').removeClass('active');
        $('#dashboard li').removeClass('show');
        $(this).parent().tab('show');
    })
    $('#dashboard li:first-child a').click();
});

</script>
<div id='dashboard' class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            {% for label, app in app_list %}
            <li class="nav-item" id="{{app}}-tab">
                <a class="nav-link" href="#{{app}}-pane"
                   data-url="{% url 'dashboard-main-detail' app %}">{{label}}</a>
            </li>{% endfor %}
            <li class="nav-item" id="users-tab">
                <a class="nav-link" href="#users-pane"
                   data-url="{% url 'dashboard-main-detail' 'users' %}">{% trans "Users" %}</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        {% for label, app in app_list %}
        <div class="tab-pane{% if forloop.counter0 == 0%} active{% endif %}" id="{{app}}-pane"
             role="tabpanel" aria-labelledby="{{app}}-tab"></div>{% endfor %}
        <div class="tab-pane" id="users-pane" role="tabpanel"
             aria-labelledby="users-tab"></div>
    </div>
</div>

{% endblock %}
