{% extends "ishtar/blocks/window_nav.html" %}
{% load i18n %}
{% block extra_actions %}
<a class="btn btn-secondary" href='{% url "operation_add" item.pk %}'
   title="{%trans 'Add an operation for this file' %}">
  <i class="fa fa-plus"></i> {% trans "operation" %}
</a>
{% endblock %}
